@font-face {
    font-family: 'Cabin';
    src:  url('fonts/Cabin-Regular.otf') format('opentype'); 
}

@font-face {
    font-family: 'Cabin';
	font-weight: bold;
    src:  url('fonts/Cabin-Bold.otf') format('opentype'); 
}

@font-face {
    font-family: 'Calibri';
    src:  url('fonts/CALIBRI.ttf') format('truetype'); 
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    margin: 0;
    font: normal 15px Roboto;
    background: #F4F7D9;
}

* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div, span {
	cursor: default;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#cover {
    display: none;
    background-color: black;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#inner {
    margin: 20px 0;
}

#tooltip {
    display: none;
    padding: 10px;
    border: 1px solid black;
	border-radius: 3px;
    background: white;
    position: absolute;
    width: auto;
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
    z-index: 999999;
}

#prompt {
    display: none;
    padding: 20px;
    border: 1px solid black;
	border-radius: 3px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
    z-index: 9999999;
}

#upperbar {
	margin-top: 20px;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    background: #74755E;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.5);
}

.upper-info {
    font-size: 120%;
    font-weight: bold;
    margin: 15px;
    text-shadow: 0 0 10px white;
    padding-left: 30px;
}

#money {
    background: url('res/money.png') 5px 50% no-repeat;
}

#income {
    background: url('res/income4.png') 5px 50% no-repeat;
}

.bonus-active {
    -webkit-animation: pulsate .5s infinite alternate;
    -moz-animation: pulsate .3s infinite alternate;
    -animation: pulsate .6s infinite alternate;
    color: #ffc92b;
}

#tax {
    background: url('res/tax.png') 5px 50% no-repeat;
}

.content {
    padding: 30px;
    overflow: hidden;
}

.content h3:nth-child(2) {
	margin-top: 0;
}

.margin-bottom {
	margin-bottom: 10px;
}

.tabs
{
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
    list-style-type: none;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.5);
}

.money-bg {
	background: url('res/coins.png') 0 center no-repeat;
	padding-left: 20px;
}

.clock-bg {
	background: url('res/clock-small.png') 100% center no-repeat;
	padding-right: 20px;
}

.tabs li a
{
    display: block;
	width: auto;
    text-decoration: none;
    position: relative;
	padding: 8px;
    border: 1px solid black;
    border-bottom-width: 0;
    border-bottom-color: black;
    color: #000;
    background: #74755E;
    /*border-radius: 3px 0 0 3px;*/
	opacity: 0.85;
}

.tabs li:last-child a {
    border-bottom-width: 1px;
    border-radius: 0 0 0 3px;
}

.tabs li:first-child a {
    border-radius: 3px 0 0 0;
}

.tabs li a .desc {
    font-size: 90%;
    font-weight: normal;
    padding-left: 5px;
    font-style: italic;
}
   
.tabs li a:hover
{
    background: #74754F;
	opacity: 1;
    text-shadow: 0 0 10px white;
}
        
.tabs .selected a, .tabs .selected a:hover
{
    position: relative;
    font-weight: bold;
    text-shadow: 0 0 10px white;
    background: linear-gradient(to bottom, rgba(72, 76, 67, 1) 0%,rgba(67, 71, 63, 1) 100%);
	opacity: 1;
	color: white;
}

.tabs a  .tabs-bg {
    padding: 10px 0 10px 40px;
    background: 0 center no-repeat;
	height: 38px;
}

.tabs .mining .tabs-bg {
    background-image: url('res/menu/mining.png');
}

.tabs .upgrades .tabs-bg {
    background-image: url('res/menu/upgrades.png');
}

.tabs .workers .tabs-bg {
    background-image: url('res/menu/workers.png');
}

.tabs .bank .tabs-bg {
    background-image: url('res/menu/bank.png');
}

.tabs .lottery .tabs-bg {
    background-image: url('res/menu/dice.png');
}

.tabs .stockmarket .tabs-bg {
    background-image: url('res/menu/stockmarket.png');
}

.tabs .statistics .tabs-bg {
    background-image: url('res/menu/stats.png');
}
 
.tabs .achievements .tabs-bg {
    background-image: url('res/menu/achievements.png');
} 

.tabs .options  .tabs-bg {
    background-image: url('res/menu/options.png');
}

.tabcontents
{
	position: relative;
	left: -1px;
	float: left;
	width: 80%;
    border: 1px solid black; 
    background: #74755E;
    border-radius: 0 3px 3px 3px;
    box-shadow: 10px 2px 30px 1px rgba(0, 0, 0, 0.5);
}

.tabcontents h1 {
    margin: 0;
    padding: 15px;
    background: linear-gradient(to bottom, rgba(72, 76, 67, 1) 0%,rgba(67, 71, 63, 1) 100%);
    border-bottom: 1px solid black;
	font-size: 20px;
	color: white;
}

.building-item {
    border: 1px solid black;
    margin: 0 0 4px 0;
    overflow: hidden;
    background: #A4CFBE;
    position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.building-item:hover {
    background: #9AC2B2;
}

.building-name {
    font-weight: bold;
}

.building-info {
    padding: 2px 6px;
}

.building-price, .building-amount, .building-tier {
    font-size: 14px;
}

.sell-buy {
    position: absolute;
    box-shadow:inset 0px 1px 0px 0px #fff;
	font-family: Cabin;
    border-left: 1px solid black;
    text-transform: uppercase;
    margin: 0;
    width: 70px;
    background: linear-gradient(to bottom, rgba(75, 132, 138, 1) 0%,rgba(60, 110, 110, 1) 100%);
    vertical-align: middle;
    text-align: center;
    line-height: 81px;
}

.sell-buy:active {
    top: 1px;
}

.sell-buy:hover {
    background: linear-gradient(to bottom, rgba(85, 145, 145, 1) 0%,rgba(70, 120, 120, 1) 100%);
}

.buy-building {
    top: 0;
    bottom: 0;
    right: 210px;
}

.buy-max-buildings {
    top: 0;
    bottom: 0;
    right: 140px;
}

.sell-building {
    top: 0;
    bottom: 0;
    right: 70px;
}

.sell-all-buildings {
    top: 0;
    bottom: 0;
    right: 0;
}

.upgrade-building {
    top: 0;
    bottom: 0;
    right: 280px;
    background: linear-gradient(to bottom, #f2f76c, #edf259);
    display: none;
	width: auto;
    /*box-shadow: 0px 0px 15px 0px #febf04;*/
}

.upgrade-building:hover {
    background: linear-gradient(to bottom, #f9ff56, #f8ff44);
}


.sell-buy:hover {
    cursor: pointer;
}

#restoration-error {
    color: red;
}

button {
    display: inline-block;
    font-size: 13px;  
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(75, 132, 138, 1) 0%,rgba(60, 110, 110, 1) 100%);
    color: black;
    border-radius: 3px 3px 3px 3px;
    box-shadow:inset 0px 1px 0px 0px #fff;
    text-transform: uppercase;
    vertical-align: middle;
}

button:active {
	position: relative;
	top: 1px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(85, 145, 145, 1) 0%,rgba(70, 120, 120, 1) 100%);
}

input[type=range] {
	vertical-align: middle;
	padding: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
}

input[type=text], input[type=number], select, option, textarea {
    border-radius: 3px;
    font: 15px Verdana;
    padding: 8px;
    border: 1px solid black;
    vertical-align: middle;
    transition: border 0.3s;
	margin: 3px 0;
	height: 2.4em;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus, select:focus {
    outline: 0;
    border-color: #A4CFBE;
}

.input-option {
    display: block;
}

#lottery-custom-price-input {
	margin: 0 0 0 5px;
}

label + .input-option {
    display: inline-block;
}

#upgrades-list {
	float: left;
}

.upgrade {
	position: relative;
	background-image: url('res/upgrade-icon.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
    border: 1px solid black;
    font-size: 18px;
	text-align: center;
    padding: 7px;
    margin: 5px 5px 0 0;
	width: 51px;
	height: 51px;
	float: left;	
    transition: all 0.3s ease-in-out;
    transition-property: background-color, opacity, box-shadow;
	-webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.upgrade div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.active-upgrade:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(255,168,76,1);
}

.active-upgrade:active {
    background-position-y: 65%;
}

.upgrades-delimiter {
	font-weight: bold;
	clear: left;
	padding-top: 0.5em;
}

.stat {
    margin: 7px 0;
}

.achievement {
    background: /*#FFCC00*/ url('res/medal.png') 50% 50% no-repeat;
    padding: 7px;
    margin: 10px;
    height: 47px;
    width: 47px;
    float: left;

}

.unlockedPercentage {
    float: right;
}

.messagebox {
    font: 18px Roboto;
    border: 4px solid black;
    margin: 0 0 10px;
    padding: 8px;
    overflow: auto;
    display: none;
    position: relative;
	word-wrap: break-word;
	text-indent: 24px;
}

.messagebox .closebox {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 20px;
    width: 20px;
    background: url('res/close-icon2.png') center center no-repeat;
}

.messagebox.green {
	border-color: #1ca032;
    background: #96E693 url('res/tick.png') 10px 10px no-repeat;
}

.messagebox.yellow {
	border-color: #b3b53f;
    background: #e6e86d url('res/warning.png') 10px 10px no-repeat;
}

.messagebox.red {
	border-color: #E33A0B;
    background: #DE8268 url('res/error.png') 10px 10px no-repeat;
}

.messagebox .closebox:hover {
     cursor: pointer;
}

#statistics-table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

#statistics-table tr, #statistics-table td {
    padding: 10px;
}

#statistics-table td {
	width: 55%;
}

#statistics-table tr {
    border-top: 1px solid black;
}

#statistics-table td:first-child {
	background: #4B848A;
	border-right: 1px solid black;
}

.statistics-delimeter td {
	background-color: #A4CFBE !important;
	font-weight: bold;
}

/*#statistics-table td:nth-child(2) {
	background: #A4CFBE;
}

#statistics-table td:nth-child(2):hover {
	background: #9AC2B2;
}*/
.trValue {
	background: #A4CFBE;
    font-weight: bold;
}

.trValue:hover {
	background: #9AC2B2;
}

/*STOCKMARKET TABLE*/

.stockmarket-table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
    width: 100%;
}

.stockmarket-table th {
	padding: 5px;
    border: 1px solid black;
	background: #4B848A;
}

.stockmarket-table td {
	padding: 5px;
	text-align: center;
	border: 1px solid black;
}

.stockmarket-table tr {
	background: #A4CFBE;
}

.stockmarket-table tr:hover {
	background: #9AC2B2;
}

.stockmarket-table  .increase-bg {
	background: url('res/arrow-up.png') 2px 50% no-repeat;
	padding-left: 18px;
}

.stockmarket-table  .decrease-bg {
	background: url('res/arrow-down.png') 2px 50% no-repeat;
	padding-left: 18px;
}

.lottery-number {
    width: 40px;
    margin: 0 10px 0 0;
    text-align: center;
}

#lottery-numbers {
    font-size: 35px;
	word-spacing: 0.35em;
    font-weight: bold;
	text-shadow: 0 0 7px white;
}

@media only screen and (max-width: 1000px) {
    #container {
        width: 100%;
    }
	
	#upperbar {
		overflow: auto;
		margin-top: 0;
		border-bottom: 0;
		border-radius: 0;
	}
	
	#inner {
		margin: 0;
	}
	
	button:not(.prompt-option) {
		display: block;
		margin-bottom: 3px;
	}
	
	.tabcontents {
		border-radius: 0;
	}
	
	.tabs li:first-child a {
		border-radius: 0;
	}
	
	.tabs li:last-child a {
		border-radius: 0;
	}
	
	.tabs a .tabs-bg div{
        display: none;
    }
	
	/*.upgrade {
		width: 40px;
		height: 40px;
		font-size: 14px;
	}*/
}

@media only screen and (max-width: 720px) {
	
	.stockmarket-table thead {
		display: none;
	}
	
	.stockmarket-table tr {
		display: block;
		margin-bottom: .625em;
	}
	.stockmarket-table td {
		display: block;
		font-size: .8em;
		text-align: right;
		border-width: 1px 1px 0 1px;
	}
		
	.stockmarket-table button {
		display: inline-block;
	}
	
	.stockmarket-table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
	
	.stockmarket-table td:last-child {
		border-bottom-width: 1px;
	}
	
	.stockmarket-table  .increase-bg, .stockmarket-table  .decrease-bg {
		
	}
  
	.sell-buy {
		position: static;
		width: 100%;
		box-shadow: none;
		border-left: none;
		border-top: 1px solid black;
		line-height: 60px;
	}
	
	.building-item {
		margin-bottom: 7px;
	}
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
	.tabs {
        width: 16%;
    }
	.tabcontents {
		width: 84%;
	}	
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
	.tabs {
        width: 9%;
    }
	.tabcontents {
		width: 91%;
	}	
}