
body {
    margin: 0;
    font: normal 12px Verdana;
    background: #6BCAE2;
}

* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	}

#container {
	width: 1000px;
	margin: 0 auto;
	}

ul.tabs
{
	float: left;
	margin: 0;
	padding: 0;
    list-style-type: none;
	display: inline;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.5);
}
        

        
ul.tabs li a
{
	width: 200px;
	display: block;
    text-decoration: none;
    position: relative;
	padding: 20px 12px;
    border: 1px solid black;
    border-bottom-color: black;
    color: #000;
    background: #51A5BA;
    border-radius: 3px 0 0 3px;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid black;
    background: #21BEDE;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    font-weight: bold;
    /*background: #21BEDE*/
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
    border: 1px solid black;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

div.tabcontents
{
	float: right;
	width: 800px;
    border: 1px solid black; 
	/*padding: 30px;*/
    background: #21BEDE;
    border-radius: 0 3px 3px 3px;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.5);
}

.content {
    padding: 30px;
    overflow: auto;
}

.tabcontents h2 {
    margin: 0;
    padding: 16px;
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
    border-bottom: 1px solid black;
    margin: 0;
}

#inner {
    margin-top: 20px;
}

.buildingItem {
    border: 1px solid black;
    margin: 3px 10px;
    overflow: hidden;
    background: #AFEAAA;
}

.buildingName, .buildingPrice, .buildingAmount {
    margin: 5px;
    position: relative;
    top: 12px;
}

.buildingName {
    font-weight: bold;
}

.buyBuilding, .sellBuilding {
	font-family: Tahoma;
    border-left: 1px solid black;
    padding: 10px 15px;
    font-size: 150%;
    text-transform: uppercase;
    display: inline;
    float: right;
    margin: 0;
    width: 130px;
    background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    text-align: center;
}

.buyBuilding, .sellBuilding {
    cursor: pointer;
}

#upperbar {
	margin-top: 20px;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    background: #51A5BA;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.5);
}

#money, #income {
    font-size: 120%;
    font-weight: bold;
    margin: 20px;
    text-shadow: 0 0 10px white;
}

.button {
    float: left;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    color: black;
    border-radius: 3px 3px 3px 3px;
}

.button:hover {
    cursor: pointer;
}

.upgrade {
    border: 1px solid black;
    font-size: 11px;
    padding: 7px;
    margin: 10px 10px;
}

.upgrade:hover {
    cursor: pointer;
    }

.stat {
    margin: 7px 0;
}

.achievement {
    background: #FFCC00;
    border: 1px solid black;
    font-size: 11px;
    padding: 7px;
    margin: 10px;
}

input[type=text] {
    border-radius: 3px;
    margin-top: 10px;
    font: 17px Verdana;
    padding: 5px;
    border: 1px solid black;
}